@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
    font-family: sans-serif;
    text-align: center;
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 16px;
    background: url("../src/assets/images/back.jpg") ;
}
.wrap {
    width: 100%;
    max-width: 620px;
    margin: 0 auto;
}
.profile {
    text-align: center;
    color: #FFF;
}
.photo {
    border-radius: 50%;
}
.profile_name {
    font-weight: bold;
    display: block;
}
.at {
    font-size: 13px;
}
.links ul {
    list-style: none;
}
.links ul li {
    margin: 14px 0;
}
.link {
    padding: 22px;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: ease all 0.3s;
    color: #FFF;
}



span {
    color: #61dafb;
}
.itemsCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemsInBox {
    display: flex;
    justify-content: space-around;
}

.logo img{
    border-radius: 49%;
}

.logo {
    width: 80%;
}



ul {
    margin-top: 185px;
    padding: 0;
}
li {
    background: #000;
    border-radius: 10px;

}

.itemColor {
    background-color: #2cb742;
    opacity: 1;
}



